# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.metadata/
/**/logs/
/**/target/
/**/.settings/
/**/.api_generated/
/**/node_modules/
/**/transaction-logs/
/**/webapp/
/**/_book/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.factorypath
*.springBeans

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
